<h3>Navigation</h3>

<div class="list col">
  <div class="chapter">
    <a
      pButton
      label="Antecedent"
      class="chapter-head p-button-text"
    ></a>

    <ul class="children">
      <li>-</li>
    </ul>
  </div>
  <div class="chapter">
    <a
      pButton
      label="Consequences"
      class="chapter-head p-button-text"
    ></a>

    <ul class="children">
      <li>-</li>
    </ul>
  </div>
  <div class="chapter">
    <a
      pButton
      label="Rules"
      class="chapter-head p-button-text"
    ></a>

    <ul class="children">
      <li>-</li>
    </ul>
  </div>
</div>
