:host {
  display: flex;
  min-height: 120vh;
}

.main {
  flex: 1 1;
  padding: 24px;
}

.right-panel {
  width: 360px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 24px;
}